<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartSpend</title>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="estilo.css">
</head>

<body>
    <div id="container">
        <div class="container-titulo">
            <img src="imagens/carrinho.png" alt="">
            <div class="container-titulo-slogan">
                <span id="nome-pagina">SMARTSPEND</span>
                <span>A comparação de preços que traz econonomia</span>
            </div>
        </div>

        <span id="titulo-por-onde-comecar">Escolha por onde começar:</span>

        <div class="container-opcoes">
            <div class="box-opcao">
                <div class="titulo">
                    <span>Estabelecimento</span>
                </div>
                <img src="imagens/loja.png" alt="">
                <span>Cadastre com facilidade</span>
            </div>
            <img src="imagens/seta.png" class="img-seta">
        </div>

        <div class="container-opcoes">
            <div class="box-opcao">
                <div class="titulo">
                    <span>Consumidor</span>
                </div>
                <img src="imagens/consumidor.png" alt="">
                <span>Compre com facilidade</span>
            </div>
            <img src="imagens/seta.png" class="img-seta">
        </div>
    </div>
</body>

</html>